 
/* start css.sty */
.pplr8r-x-x-160{font-size:160%;}
.pplr8r-x-x-260{font-size:260%;}
.pplr8r-x-x-144{font-size:144%;}
.pplr8r-x-x-80{font-size:80%;}
.pplri8r-x-x-144{font-size:144%;font-style: italic;}
.pplri8r-x-x-144{font-style: italic;}
.pplri8r-x-x-144{font-style: italic;}
.pplri8r-x-x-144{font-style: italic;}
.pplri8r-x-x-144{font-style: italic;}
.pplri8r-{font-style: italic;}
.pplri8r-{font-style: italic;}
.pplri8r-{font-style: italic;}
.pplri8r-{font-style: italic;}
.pplri8r-{font-style: italic;}
.pplri8r-x-x-80{font-size:80%;font-style: italic;}
.pplri8r-x-x-80{font-style: italic;}
.pplri8r-x-x-80{font-style: italic;}
.pplri8r-x-x-80{font-style: italic;}
.pplri8r-x-x-80{font-style: italic;}
.cmsy-10x-x-104{font-size:104%;}
.cmsy-10x-x-83{font-size:83%;}
.cmr-10x-x-104{font-size:104%;}
.msam-10x-x-83{font-size:83%;}
.pplr8r-x-x-109{font-size:109%;}
.pplr8r-x-x-90{font-size:90%;}
.ec-lmtt-9{font-size:90%; font-family: monospace,monospace;}
.ec-lmtt-9{ font-family: monospace,monospace;}
.ec-lmtt-9{ font-family: monospace,monospace;}
.ec-lmtt-9{ font-family: monospace,monospace;}
.ec-lmtt-9{ font-family: monospace,monospace;}
.pplr8r-x-x-70{font-size:70%;}
.pplri8r-x-x-90{font-size:90%;font-style: italic;}
.pplri8r-x-x-90{font-style: italic;}
.pplri8r-x-x-90{font-style: italic;}
.pplri8r-x-x-90{font-style: italic;}
.pplri8r-x-x-90{font-style: italic;}
.pplri8r-x-x-70{font-size:70%;font-style: italic;}
.pplri8r-x-x-70{font-style: italic;}
.pplri8r-x-x-70{font-style: italic;}
.pplri8r-x-x-70{font-style: italic;}
.pplri8r-x-x-70{font-style: italic;}
.pplr8r-x-x-72{font-size:72%;}
.ec-lmtt-10{ font-family: monospace,monospace;}
.ec-lmtt-10{ font-family: monospace,monospace;}
.ec-lmtt-10{ font-family: monospace,monospace;}
.ec-lmtt-10{ font-family: monospace,monospace;}
.ec-lmtt-10{ font-family: monospace,monospace;}
.pplr8r-x-x-76{font-size:76%;}
.pplr8r-x-x-60{font-size:60%;}
.pplb8r-{ font-weight: bold;}
.ec-lmtt-8{font-size:80%; font-family: monospace,monospace;}
.ec-lmtt-8{ font-family: monospace,monospace;}
.ec-lmtt-8{ font-family: monospace,monospace;}
.ec-lmtt-8{ font-family: monospace,monospace;}
.ec-lmtt-8{ font-family: monospace,monospace;}
.fplmbb-x-x-70{font-size:70%;}
.ec-lmtk-10x-x-90{font-size:90%; font-family: monospace,monospace;}
.ec-lmtk-10x-x-90{ font-family: monospace,monospace;}
.ec-lmtk-10x-x-90{ font-family: monospace,monospace;}
.ec-lmtk-10x-x-90{ font-family: monospace,monospace;}
.ec-lmtk-10x-x-90{ font-family: monospace,monospace;}
.phvr8r-x-x-95{font-size:95%;font-family: sans-serif;}
p{margin-top:0;margin-bottom:0}
p.indent{text-indent:0;}
p + p{margin-top:1em;}
p + div, p + pre {margin-top:1em;}
div + p, pre + p {margin-top:1em;}
a { overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; hyphens: auto; }
@media print {div.crosslinks {visibility:hidden;}}
a img { border-top: 0; border-left: 0; border-right: 0; }
center { margin-top:1em; margin-bottom:1em; }
td center { margin-top:0em; margin-bottom:0em; }
.Canvas { position:relative; }
img.math{vertical-align:middle;}
div.par-math-display, div.math-display{text-align:center;}
li p.indent { text-indent: 0em }
li p:first-child{ margin-top:0em; }
li p:first-child{ margin-bottom; }
li p:last-child, li div:last-child { margin-bottom:0.5em; }
li p:first-child{ margin-bottom:0; }
li p~ul:last-child, li p~ol:last-child{ margin-bottom:0.5em; }
.enumerate1 {list-style-type:decimal;}
.enumerate2 {list-style-type:lower-alpha;}
.enumerate3 {list-style-type:lower-roman;}
.enumerate4 {list-style-type:upper-alpha;}
div.newtheorem { margin-bottom: 2em; margin-top: 2em;}
.obeylines-h,.obeylines-v {white-space: nowrap; }
div.obeylines-v p { margin-top:0; margin-bottom:0; }
.overline{ text-decoration:overline; }
.overline img{ border-top: 1px solid black; }
td.displaylines {text-align:center; white-space:nowrap;}
.centerline {text-align:center;}
.rightline {text-align:right;}
pre.verbatim {font-family: monospace,monospace; text-align:left; clear:both; }
.fbox {padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.fbox {display:table}
div.center div.fbox {text-align:center; clear:both; padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.minipage{width:100%;}
div.center, div.center div.center {text-align: center; margin-left:1em; margin-right:1em;}
div.center div {text-align: left;}
div.flushright, div.flushright div.flushright {text-align: right;}
div.flushright div {text-align: left;}
div.flushleft {text-align: left;}
.underline{ text-decoration:underline; }
.underline img{ border-bottom: 1px solid black; margin-bottom:1pt; }
.framebox-c, .framebox-l, .framebox-r { padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
.framebox-c {text-align:center;}
.framebox-l {text-align:left;}
.framebox-r {text-align:right;}
span.thank-mark{ vertical-align: super }
span.footnote-mark sup.textsuperscript, span.footnote-mark a sup.textsuperscript{ font-size:80%; }
div.tabular, div.center div.tabular {text-align: center; margin-top:0.5em; margin-bottom:0.5em; }
table.tabular td p{margin-top:0em;}
table.tabular {margin-left: auto; margin-right: auto;}
td p:first-child{ margin-top:0em; }
td p:last-child{ margin-bottom:0em; }
div.td00{ margin-left:0pt; margin-right:0pt; }
div.td01{ margin-left:0pt; margin-right:5pt; }
div.td10{ margin-left:5pt; margin-right:0pt; }
div.td11{ margin-left:5pt; margin-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
td.td00{ padding-left:0pt; padding-right:0pt; }
td.td01{ padding-left:0pt; padding-right:5pt; }
td.td10{ padding-left:5pt; padding-right:0pt; }
td.td11{ padding-left:5pt; padding-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
.hline hr, .cline hr{ height : 0px; margin:0px; }
.hline td, .cline td{ padding: 0; }
.hline hr, .cline hr{border:none;border-top:1px solid black;}
.tabbing-right {text-align:right;}
div.float, div.figure {margin-left: auto; margin-right: auto;}
div.float img {text-align:center;}
div.figure img {text-align:center;}
.marginpar,.reversemarginpar {width:20%; float:right; text-align:left; margin-left:auto; margin-top:0.5em; font-size:85%; text-decoration:underline;}
.marginpar p,.reversemarginpar p{margin-top:0.4em; margin-bottom:0.4em;}
.reversemarginpar{float:left;}
table.equation {width:100%;}
.equation td{text-align:center; }
td.equation { margin-top:1em; margin-bottom:1em; } 
td.equation-label { width:5%; text-align:center; }
td.eqnarray4 { width:5%; white-space: normal; }
td.eqnarray2 { width:5%; }
table.eqnarray-star, table.eqnarray {width:100%;}
div.eqnarray{text-align:center;}
div.array {text-align:center;}
div.pmatrix {text-align:center;}
table.pmatrix {width:100%;}
span.pmatrix img{vertical-align:middle;}
div.pmatrix {text-align:center;}
table.pmatrix {width:100%;}
span.bar-css {text-decoration:overline;}
table.tabular{border-collapse: collapse; border-spacing: 0;}
img.cdots{vertical-align:middle;}
.partToc a, .partToc, .likepartToc a, .likepartToc {line-height: 200%; font-weight:bold; font-size:110%;}
.chapterToc a, .chapterToc, .likechapterToc a, .likechapterToc, .appendixToc a, .appendixToc {line-height: 200%; font-weight:bold;}
.index-item, .index-subitem, .index-subsubitem {display:block}
div.caption {text-indent:-2em; margin-left:3em; margin-right:1em; text-align:left;}
div.caption span.id{font-weight: bold; white-space: nowrap; }
h1.partHead{text-align: center}
p.bibitem { text-indent: -2em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
p.bibitem-p { text-indent: 0em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
.paragraphHead, .likeparagraphHead { margin-top:2em; font-weight: bold;}
.subparagraphHead, .likesubparagraphHead { font-weight: bold;}
.verse{white-space:nowrap; margin-left:2em}
div.maketitle {text-align:center;}
h2.titleHead{text-align:center;}
div.maketitle{ margin-bottom: 2em; }
div.author, div.date {text-align:center;}
div.thanks{text-align:left; margin-left:10%; font-size:85%; font-style:italic; }
div.author{white-space: nowrap;}
h1.partHead{text-align: center}
 .chapterToc, .likechapterToc {margin-left:0em;}
 .chapterToc ~ .likesectionToc, .chapterToc ~ .sectionToc, .likechapterToc ~ .likesectionToc, .likechapterToc ~ .sectionToc {margin-left:2em;}
 .chapterToc ~ .likesectionToc ~ .likesubsectionToc, .chapterToc ~ .likesectionToc ~ .subsectionToc, .chapterToc ~ .sectionToc ~ .likesubsectionToc, .chapterToc ~ .sectionToc ~ .subsectionToc, .likechapterToc ~ .likesectionToc ~ .likesubsectionToc, .likechapterToc ~ .likesectionToc ~ .subsectionToc, .likechapterToc ~ .sectionToc ~ .likesubsectionToc, .likechapterToc ~ .sectionToc ~ .subsectionToc {margin-left:4em;}
.chapterToc ~ .likesectionToc ~ .likesubsectionToc ~ .likesubsubsectionToc, .chapterToc ~ .likesectionToc ~ .likesubsectionToc ~ .subsubsectionToc, .chapterToc ~ .likesectionToc ~ .subsectionToc ~ .likesubsubsectionToc, .chapterToc ~ .likesectionToc ~ .subsectionToc ~ .subsubsectionToc, .chapterToc ~ .sectionToc ~ .likesubsectionToc ~ .likesubsubsectionToc, .chapterToc ~ .sectionToc ~ .likesubsectionToc ~ .subsubsectionToc, .chapterToc ~ .sectionToc ~ .subsectionToc ~ .likesubsubsectionToc, .chapterToc ~ .sectionToc ~ .subsectionToc ~ .subsubsectionToc, .likechapterToc ~ .likesectionToc ~ .likesubsectionToc ~ .likesubsubsectionToc, .likechapterToc ~ .likesectionToc ~ .likesubsectionToc ~ .subsubsectionToc, .likechapterToc ~ .likesectionToc ~ .subsectionToc ~ .likesubsubsectionToc, .likechapterToc ~ .likesectionToc ~ .subsectionToc ~ .subsubsectionToc, .likechapterToc ~ .sectionToc ~ .likesubsectionToc ~ .likesubsubsectionToc, .likechapterToc ~ .sectionToc ~ .likesubsectionToc ~ .subsubsectionToc, .likechapterToc ~ .sectionToc ~ .subsectionToc ~ .likesubsubsectionToc .likechapterToc ~ .sectionToc ~ .subsectionToc ~ .subsubsectionToc {margin-left:6em;}
 .likesectionToc , .sectionToc {margin-left:0em;}
 .likesectionToc ~ .likesubsectionToc, .likesectionToc ~ .subsectionToc, .sectionToc ~ .likesubsectionToc, .sectionToc ~ .subsectionToc {margin-left:2em;}
.likesectionToc ~ .likesubsectionToc ~ .likesubsubsectionToc, .likesectionToc ~ .likesubsectionToc ~ .subsubsectionToc, .likesectionToc ~ .subsectionToc ~ .likesubsubsectionToc, .likesectionToc ~ .subsectionToc ~ .subsubsectionToc, .sectionToc ~ .likesubsectionToc ~ .likesubsubsectionToc, .sectionToc ~ .likesubsectionToc ~ .subsubsectionToc, .sectionToc ~ .subsectionToc ~ .likesubsubsectionToc, .sectionToc ~ .subsectionToc ~ .subsubsectionToc {margin-left:4em;}
 .likesubsectionToc, .subsectionToc {margin-left:0em;}
 .likesubsectionToc ~ .subsubsectionToc, .subsectionToc ~ .subsubsectionToc {margin-left:2em;}
figure.float, div.figure {margin-left: auto; margin-right: auto;}
figure.float img, figure.figure img {display: block; margin-left: auto; margin-right: auto;}
figure.figure {text-align:center;}
figcaption.caption {text-indent:-2em; margin-left:3em; margin-right:1em; text-align:center;}
figcaption.caption span.id{font-weight: bold; white-space: nowrap; }
p + figcaption, img + figcaption{margin-top: 1em;}
.poemtitle, likepoemtitle {margin-left:2em; margin-bottom:0.5em;}
.skip-verseline {margin-top: 1em;}
.skip-verseline, .verseline {white-space: nowrap;}
.flagverse {float:right; font-size:85%; text-decoration:underline;}
.verse p{margin-bottom:0;}
.poemline {text-align:right; width:6em;}
.booknumber{display:block;}
div.abstract p {margin-left:5%; margin-right:5%;}
div.abstract {width:100%;}
.abstracttitle{text-align:center;margin-bottom:1em;}
figure.float, div.figure {margin-left: auto; margin-right: auto;}
figure.float img, figure.figure img {display: block; margin-left: auto; margin-right: auto;}
figure.figure {text-align:center;}
figcaption.caption {text-indent:-2em; margin-left:3em; margin-right:1em; text-align:center;}
figcaption.caption span.id{font-weight: bold; white-space: nowrap; }
p + figcaption, img + figcaption{margin-top: 1em;}
.abstract{margin:1em;}
div.tabular, div.center div.tabular {text-align: center; margin-top:0.5em; margin-bottom:0.5em; }
table.tabular td p{margin-top:0em;}
table.tabular {margin-left: auto; margin-right: auto;}
td p:first-child{ margin-top:0em; }
td p:last-child{ margin-bottom:0em; }
div.td00{ margin-left:0pt; margin-right:0pt; }
div.td01{ margin-left:0pt; margin-right:5pt; }
div.td10{ margin-left:5pt; margin-right:0pt; }
div.td11{ margin-left:5pt; margin-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
td.td00{ padding-left:0pt; padding-right:0pt; }
td.td01{ padding-left:0pt; padding-right:5pt; }
td.td10{ padding-left:5pt; padding-right:0pt; }
td.td11{ padding-left:5pt; padding-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
.hline hr, .cline hr{ height : 0px; margin:0px; }
.hline td, .cline td{ padding: 0; }
.hline hr, .cline hr{border:none;border-top:1px solid black;}
div.array {text-align:center;}
dt.enumerate-enumitem{float:left; clear:left; margin-left:1em; margin-right:1em;}
.underline-d{ border-bottom: 3px double black; margin-bottom:1pt; }
.equation td{text-align:center; }
.equation-star td{text-align:center; }
table.equation-star { width:100%; }
table.equation { width:100%; }
table.align, table.alignat, table.xalignat, table.xxalignat, table.flalign {width:95%; margin-left:5%; white-space: nowrap;}
table.align-star, table.alignat-star, table.xalignat-star, table.flalign-star {margin-left:auto; margin-right:auto; white-space: nowrap;}
td.align-label { width:5%; text-align:center; }
td.align-odd { text-align:right; padding-right:0.3em;}
td.align-even { text-align:left; padding-right:0.6em;}
table.multline, table.multline-star {width:100%;}
td.gather {text-align:center; }
table.gather {width:100%;}
div.gather-star {text-align:center;}
.tcolorbox{margin-top:0.5em;margin-bottom: 0.5em;}
.tcolorbox .lowerbox{margin-top:0pt;}
.rotatebox{display: inline-block;}
.lstlisting .label{margin-right:0.5em; }
div.lstlisting{font-family: monospace,monospace; white-space: nowrap; margin-top:0.5em; margin-bottom:0.5em; }
div.lstinputlisting{ font-family: monospace,monospace; white-space: nowrap; }
.lstinputlisting .label{margin-right:0.5em;}
.ovalbox { padding-left:3pt; padding-right:3pt; border:solid thin; }
.Ovalbox-thick { padding-left:3pt; padding-right:3pt; border:solid thick; }
.shadowbox { padding-left:3pt; padding-right:3pt; border:solid thin; border-right:solid thick; border-bottom:solid thick; }
.doublebox { padding-left:3pt; padding-right:3pt; border-style:double; border:solid thick; }
.framedenv{border: 1px solid black;}
.caption span.id{font-weight: bold;}
 .wrapfig-r, .wrapfig-ri, .wrapfig-ir, .wrapfig-ro, .wrapfig-or {float:right; text-align:left; margin-left:auto; margin-top:0.5em;} 
 .wrapfig-l, .wrapfig-li, .wrapfig-il, .wrapfig-lo, .wrapfig-ol {float:left; text-align:left; margin-right:auto; margin-top:0.5em;} 
.wrapfig-r .caption td.content, .wrapfig-ri .caption td.content, .wrapfig-ir .caption td.content, .wrapfig-ro .caption td.content, .wrapfig-or .caption td.content, .wrapfig-l .caption td.content, .wrapfig-li .caption td.content, .wrapfig-il .caption td.content, .wrapfig-lo .caption td.content, .wrapfig-ol .caption td.content {white-space: normal; }
.wrapfig-r .caption, .wrapfig-ri .caption, .wrapfig-ir .caption, .wrapfig-ro .caption, .wrapfig-or .caption, .wrapfig-l .caption, .wrapfig-li .caption, .wrapfig-il .caption, .wrapfig-lo .caption, .wrapfig-ol .caption {width:30%; }
#tcolobox-2 .tcolorbox-title{color: #FFFFFF; background-color: #BF0000;}
#tcolobox-2 .tcolorbox-content{color: #000000; background-color: #FFF2F2; border: 1px solid #BF0000;}
#tcolobox-3 .tcolorbox-title{color: #000080; background-color: #008000;}
#tcolobox-3 .tcolorbox-content{color: #000000; background-color: #F2FFF2; border: 1px solid #008000;}
#tcolobox-4 .tcolorbox-title{color: #400040; background-color: #000080;}
#tcolobox-4 .tcolorbox-content{color: #000000; background-color: #F2F2FF; border: 1px solid #000080;}
#tcolobox-5 .tcolorbox-title{color: #008000; background-color: #400040;}
#tcolobox-5 .tcolorbox-content{color: #000000; background-color: #F9F2F9; border: 1px solid #400040;}
#tcolobox-6 .tcolorbox-title{color: #008000; background-color: #400040;}
#tcolobox-6 .tcolorbox-content{color: #000000; background-color: #F9F2F9; border: 1px solid #400040;}
#tcolobox-7 .tcolorbox-title{color: #400040; background-color: #000080;}
#tcolobox-7 .tcolorbox-content{color: #000000; background-color: #F2F2FF; border: 1px solid #000080;}
#tcolobox-8 .tcolorbox-title{color: #008000; background-color: #400040;}
#tcolobox-8 .tcolorbox-content{color: #000000; background-color: #F9F2F9; border: 1px solid #400040;}
#tcolobox-9 .tcolorbox-title{color: #008000; background-color: #400040;}
#tcolobox-9 .tcolorbox-content{color: #000000; background-color: #F9F2F9; border: 1px solid #400040;}
#tcolobox-10 .tcolorbox-title{color: #400040; background-color: #000080;}
#tcolobox-10 .tcolorbox-content{color: #000000; background-color: #F2F2FF; border: 1px solid #000080;}
#tcolobox-11 .tcolorbox-title{color: #008000; background-color: #400040;}
#tcolobox-11 .tcolorbox-content{color: #000000; background-color: #F9F2F9; border: 1px solid #400040;}
#tcolobox-12 .tcolorbox-title{color: #400040; background-color: #000080;}
#tcolobox-12 .tcolorbox-content{color: #000000; background-color: #F2F2FF; border: 1px solid #000080;}
#tcolobox-13 .tcolorbox-title{color: #400040; background-color: #000080;}
#tcolobox-13 .tcolorbox-content{color: #000000; background-color: #F2F2FF; border: 1px solid #000080;}
#tcolobox-14 .tcolorbox-title{color: #400040; background-color: #000080;}
#tcolobox-14 .tcolorbox-content{color: #000000; background-color: #F2F2FF; border: 1px solid #000080;}
#tcolobox-15 .tcolorbox-title{color: #008000; background-color: #400040;}
#tcolobox-15 .tcolorbox-content{color: #000000; background-color: #F9F2F9; border: 1px solid #400040;}
#tcolobox-16 .tcolorbox-title{color: #000080; background-color: #008000;}
#tcolobox-16 .tcolorbox-content{color: #000000; background-color: #F2FFF2; border: 1px solid #008000;}
#tcolobox-17 .tcolorbox-title{color: #400040; background-color: #000080;}
#tcolobox-17 .tcolorbox-content{color: #000000; background-color: #F2F2FF; border: 1px solid #000080;}
.columns-3 p:first-child { margin-top: 0em; }
.columns-3{-moz-column-count:3; -webkit-column-count:3; column-count:3; -moz-column-gap: 10.0pt; -webkit-column-gap: 10.0pt; column-gap: 10.0pt; -moz-column-rule-width: 0.0pt; -webkit-column-rule-width: 0.0pt; column-rule-rule-width: 0.0pt; -moz-column-rule-color: #555;; -webkit-column-rule-color: #555;; column-rule-color: #555;; -moz-column-rule-style: outset; -webkit-column-rule-style: outset; column-rule-style: outset; -moz-column-fill: balance; -webkit-column-fill: balance; column-fill: balance; }
#tcolobox-18 .tcolorbox-title{color: #008000; background-color: #808000;}
#tcolobox-18 .tcolorbox-content{color: #000000; background-color: #FFFFF2; border: 1px solid #808000;}
#tcolobox-19 .tcolorbox-title{color: #008000; background-color: #400040;}
#tcolobox-19 .tcolorbox-content{color: #000000; background-color: #F9F2F9; border: 1px solid #400040;}
#tcolobox-20 .tcolorbox-title{color: #008000; background-color: #400040;}
#tcolobox-20 .tcolorbox-content{color: #000000; background-color: #F9F2F9; border: 1px solid #400040;}
#tcolobox-21 .tcolorbox-title{color: #400040; background-color: #000080;}
#tcolobox-21 .tcolorbox-content{color: #000000; background-color: #F2F2FF; border: 1px solid #000080;}
#tcolobox-22 .tcolorbox-title{color: #400040; background-color: #000080;}
#tcolobox-22 .tcolorbox-content{color: #000000; background-color: #F2F2FF; border: 1px solid #000080;}
#tcolobox-23 .tcolorbox-title{color: #400040; background-color: #000080;}
#tcolobox-23 .tcolorbox-content{color: #000000; background-color: #F2F2FF; border: 1px solid #000080;}
#tcolobox-24 .tcolorbox-title{color: #008000; background-color: #400040;}
#tcolobox-24 .tcolorbox-content{color: #000000; background-color: #F9F2F9; border: 1px solid #400040;}
.columns-2 p:first-child { margin-top: 0em; }
.columns-2{-moz-column-count:2; -webkit-column-count:2; column-count:2; -moz-column-gap: 10.0pt; -webkit-column-gap: 10.0pt; column-gap: 10.0pt; -moz-column-rule-width: 0.0pt; -webkit-column-rule-width: 0.0pt; column-rule-rule-width: 0.0pt; -moz-column-rule-color: #555;; -webkit-column-rule-color: #555;; column-rule-color: #555;; -moz-column-rule-style: outset; -webkit-column-rule-style: outset; column-rule-style: outset; -moz-column-fill: balance; -webkit-column-fill: balance; column-fill: balance; }
#tcolobox-25 .tcolorbox-title{color: #008000; background-color: #400040;}
#tcolobox-25 .tcolorbox-content{color: #000000; background-color: #F9F2F9; border: 1px solid #400040;}
#tcolobox-26 .tcolorbox-title{color: #400040; background-color: #000080;}
#tcolobox-26 .tcolorbox-content{color: #000000; background-color: #F2F2FF; border: 1px solid #000080;}
#tcolobox-27 .tcolorbox-title{color: #008000; background-color: #400040;}
#tcolobox-27 .tcolorbox-content{color: #000000; background-color: #F9F2F9; border: 1px solid #400040;}
#tcolobox-28 .tcolorbox-title{color: #008000; background-color: #004040;}
#tcolobox-28 .tcolorbox-content{color: #000000; background-color: #F2F9F9; border: 1px solid #004040;}
#tcolobox-29 .tcolorbox-title{color: #008000; background-color: #808000;}
#tcolobox-29 .tcolorbox-content{color: #000000; background-color: #FFFFF2; border: 1px solid #808000;}
#tcolobox-30 .tcolorbox-title{color: #008000; background-color: #808000;}
#tcolobox-30 .tcolorbox-content{color: #000000; background-color: #FFFFF2; border: 1px solid #808000;}
#tcolobox-31 .tcolorbox-title{color: #008000; background-color: #004040;}
#tcolobox-31 .tcolorbox-content{color: #000000; background-color: #F2F9F9; border: 1px solid #004040;}
#tcolobox-32 .tcolorbox-title{color: #008000; background-color: #004040;}
#tcolobox-32 .tcolorbox-content{color: #000000; background-color: #F2F9F9; border: 1px solid #004040;}
#tcolobox-33 .tcolorbox-title{color: #008000; background-color: #808000;}
#tcolobox-33 .tcolorbox-content{color: #000000; background-color: #FFFFF2; border: 1px solid #808000;}
#tcolobox-34 .tcolorbox-title{color: #008000; background-color: #808000;}
#tcolobox-34 .tcolorbox-content{color: #000000; background-color: #FFFFF2; border: 1px solid #808000;}
#tcolobox-35 .tcolorbox-title{color: #008000; background-color: #004040;}
#tcolobox-35 .tcolorbox-content{color: #000000; background-color: #F2F9F9; border: 1px solid #004040;}
#tcolobox-36 .tcolorbox-title{color: #008000; background-color: #808000;}
#tcolobox-36 .tcolorbox-content{color: #000000; background-color: #FFFFF2; border: 1px solid #808000;}
#tcolobox-37 .tcolorbox-title{color: #008000; background-color: #808000;}
#tcolobox-37 .tcolorbox-content{color: #000000; background-color: #FFFFF2; border: 1px solid #808000;}
#tcolobox-38 .tcolorbox-title{color: #400040; background-color: #000080;}
#tcolobox-38 .tcolorbox-content{color: #000000; background-color: #F2F2FF; border: 1px solid #000080;}
#tcolobox-39 .tcolorbox-title{color: #008000; background-color: #808000;}
#tcolobox-39 .tcolorbox-content{color: #000000; background-color: #FFFFF2; border: 1px solid #808000;}
#tcolobox-40 .tcolorbox-title{color: #008000; background-color: #808000;}
#tcolobox-40 .tcolorbox-content{color: #000000; background-color: #FFFFF2; border: 1px solid #808000;}
#tcolobox-41 .tcolorbox-title{color: #400040; background-color: #000080;}
#tcolobox-41 .tcolorbox-content{color: #000000; background-color: #F2F2FF; border: 1px solid #000080;}
#tcolobox-42 .tcolorbox-title{color: #008000; background-color: #808000;}
#tcolobox-42 .tcolorbox-content{color: #000000; background-color: #FFFFF2; border: 1px solid #808000;}
#tcolobox-43 .tcolorbox-title{color: #400040; background-color: #000080;}
#tcolobox-43 .tcolorbox-content{color: #000000; background-color: #F2F2FF; border: 1px solid #000080;}
#tcolobox-44 .tcolorbox-title{color: #008000; background-color: #808000;}
#tcolobox-44 .tcolorbox-content{color: #000000; background-color: #FFFFF2; border: 1px solid #808000;}
#tcolobox-45 .tcolorbox-title{color: #400040; background-color: #000080;}
#tcolobox-45 .tcolorbox-content{color: #000000; background-color: #F2F2FF; border: 1px solid #000080;}
#TBL-1 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-1{border-collapse:collapse;}
#TBL-1 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-1{border-collapse:collapse;}
#TBL-1 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-1{border-collapse:collapse;}
#TBL-1 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-1{border-collapse:collapse;}
#tcolobox-46 .tcolorbox-title{color: #400040; background-color: #000080;}
#tcolobox-46 .tcolorbox-content{color: #000000; background-color: #F2F2FF; border: 1px solid #000080;}
#tcolobox-47 .tcolorbox-title{color: #400040; background-color: #000080;}
#tcolobox-47 .tcolorbox-content{color: #000000; background-color: #F2F2FF; border: 1px solid #000080;}
#tcolobox-48 .tcolorbox-title{color: #400040; background-color: #000080;}
#tcolobox-48 .tcolorbox-content{color: #000000; background-color: #F2F2FF; border: 1px solid #000080;}
#tcolobox-49 .tcolorbox-title{color: #400040; background-color: #000080;}
#tcolobox-49 .tcolorbox-content{color: #000000; background-color: #F2F2FF; border: 1px solid #000080;}
#tcolobox-50 .tcolorbox-title{color: #008000; background-color: #400040;}
#tcolobox-50 .tcolorbox-content{color: #000000; background-color: #F9F2F9; border: 1px solid #400040;}
#tcolobox-51 .tcolorbox-title{color: #000080; background-color: #008000;}
#tcolobox-51 .tcolorbox-content{color: #000000; background-color: #F2FFF2; border: 1px solid #008000;}
#tcolobox-52 .tcolorbox-title{color: #000080; background-color: #008000;}
#tcolobox-52 .tcolorbox-content{color: #000000; background-color: #F2FFF2; border: 1px solid #008000;}
#tcolobox-53 .tcolorbox-title{color: #008000; background-color: #808000;}
#tcolobox-53 .tcolorbox-content{color: #000000; background-color: #FFFFF2; border: 1px solid #808000;}
#tcolobox-54 .tcolorbox-title{color: #008000; background-color: #808000;}
#tcolobox-54 .tcolorbox-content{color: #000000; background-color: #FFFFF2; border: 1px solid #808000;}
#tcolobox-55 .tcolorbox-title{color: #400040; background-color: #000080;}
#tcolobox-55 .tcolorbox-content{color: #000000; background-color: #F2F2FF; border: 1px solid #000080;}
#tcolobox-56 .tcolorbox-title{color: #008000; background-color: #004040;}
#tcolobox-56 .tcolorbox-content{color: #000000; background-color: #F2F9F9; border: 1px solid #004040;}
#tcolobox-57 .tcolorbox-title{color: #008000; background-color: #808000;}
#tcolobox-57 .tcolorbox-content{color: #000000; background-color: #FFFFF2; border: 1px solid #808000;}
#tcolobox-58 .tcolorbox-title{color: #008000; background-color: #808000;}
#tcolobox-58 .tcolorbox-content{color: #000000; background-color: #FFFFF2; border: 1px solid #808000;}
#tcolobox-59 .tcolorbox-title{color: #400040; background-color: #000080;}
#tcolobox-59 .tcolorbox-content{color: #000000; background-color: #F2F2FF; border: 1px solid #000080;}
#tcolobox-60 .tcolorbox-title{color: #008000; background-color: #808000;}
#tcolobox-60 .tcolorbox-content{color: #000000; background-color: #FFFFF2; border: 1px solid #808000;}
#tcolobox-61 .tcolorbox-title{color: #400040; background-color: #000080;}
#tcolobox-61 .tcolorbox-content{color: #000000; background-color: #F2F2FF; border: 1px solid #000080;}
#tcolobox-62 .tcolorbox-title{color: #008000; background-color: #004040;}
#tcolobox-62 .tcolorbox-content{color: #000000; background-color: #F2F9F9; border: 1px solid #004040;}
#tcolobox-63 .tcolorbox-title{color: #008000; background-color: #808000;}
#tcolobox-63 .tcolorbox-content{color: #000000; background-color: #FFFFF2; border: 1px solid #808000;}
#tcolobox-64 .tcolorbox-title{color: #008000; background-color: #808000;}
#tcolobox-64 .tcolorbox-content{color: #000000; background-color: #FFFFF2; border: 1px solid #808000;}
#tcolobox-65 .tcolorbox-title{color: #008000; background-color: #808000;}
#tcolobox-65 .tcolorbox-content{color: #000000; background-color: #FFFFF2; border: 1px solid #808000;}
.columns-4 p:first-child { margin-top: 0em; }
.columns-4{-moz-column-count:4; -webkit-column-count:4; column-count:4; -moz-column-gap: 10.0pt; -webkit-column-gap: 10.0pt; column-gap: 10.0pt; -moz-column-rule-width: 0.0pt; -webkit-column-rule-width: 0.0pt; column-rule-rule-width: 0.0pt; -moz-column-rule-color: #555;; -webkit-column-rule-color: #555;; column-rule-color: #555;; -moz-column-rule-style: outset; -webkit-column-rule-style: outset; column-rule-style: outset; -moz-column-fill: balance; -webkit-column-fill: balance; column-fill: balance; }
.columns-5 p:first-child { margin-top: 0em; }
.columns-5{-moz-column-count:5; -webkit-column-count:5; column-count:5; -moz-column-gap: 10.0pt; -webkit-column-gap: 10.0pt; column-gap: 10.0pt; -moz-column-rule-width: 0.0pt; -webkit-column-rule-width: 0.0pt; column-rule-rule-width: 0.0pt; -moz-column-rule-color: #555;; -webkit-column-rule-color: #555;; column-rule-color: #555;; -moz-column-rule-style: outset; -webkit-column-rule-style: outset; column-rule-style: outset; -moz-column-fill: balance; -webkit-column-fill: balance; column-fill: balance; }
/* end css.sty */

